<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      <div id="container2">
        <div id="header">
          <%= render "header" %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <div id="footer">
          <%= render "footer" %>
        </div>
      </div>
    </div>
  </body>
